/*Verbs*/
.hidden {
    visibility: hidden;
}

.center {
    width: 80%;
    margin: 20px auto;
}

.buffer {
    margin: 25px 0px;
}

.maxHeight400 {
    max-height: 400px;
}

.maxWidth800 {
    max-width: 800px;
}